body{
  background-color:lightskyblue;
}
p{
  text-align:center;
  font-family: 'Libertinus Math';font-size: 20px;
}
article{
  text-align:center;
}
nav{
	position: absolute;
	width: 90%;
}
footer{
	text-align:center;
}
h1{
	font-family: 'Kurale';font-size: 28px;
	color: oldlace;
}
